/*Navbar*/

#navbar .container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    height: 15rem;
}

#navbar .logo {
    padding-right: 300px;
}

#navbar .container ul {
    display: flex;
    flex-direction: column;
    padding-left: 300px;
}

#navbar .container ul a {
    font-size: 1rem;
    padding: 0.2rem 8rem;
}


/*Header*/

#header h1 {
    font-size: 2rem;
    margin: 0 5px;
}

#header p {
    font-size: 1rem;
}

#header .container {
    padding-top: 50px;
}

#header li a {
    font-size: 0.8rem;
}

#header {
    height: 60vh;
}

#header ul {
    padding-right: 30px;
    padding-top: 25px
}


/*History*/

#history {
    padding-top: 380px;
}

#history .items .image {
    background: none;
    flex: 0;
}

#history .items {
    display: absolute;
    flex: 1;
}

#history .items .container {
    background-color: black;
    display: flex;
    display: inline;
    flex-direction: row;
    padding-bottom: 60px;
}

#history .items .container p {
    font-size: 1rem;
}

#history .items .container h1 {
    font-size: 2rem;
}

#history .items .container ul li a {
    font-size: 1.3rem;
    color: black;
    text-decoration: none;
    background-color: white;
    padding: 1rem;
}

#history .items .container ul {
    padding-right: 35px;
    padding-top: 30px;
}

#benefits {
    padding-top: 253px;
}

#benefits .items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 35vh;
}

#benefits .items .location,
.meals,
.fitness {
    padding-top: 20px;
}

#main-footer {
    margin-top: 16rem;
}


/*ABOUT*/